<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="https://lh3.googleusercontent.com/mreV057AHyuBRKEQEaS179T9rusL6i7zju3Q4E5tNACf7ayLUOvUjl7Q6fHWlXHJQGJ6sjzwRrpYJsXR816eTn6BbWWTq4IxspkbvXUnC7IRs4mg5Jx5gr3bzXeQ6Js470c9LBtRBWBUxBw8k5oxCjPhJI0a9dbQmme65vGk4f89i-phoF5p7-QlQKsowFERFS2af0Blh0ZeOqN-gZb01F8rVzC2e97A9Um6npGoQkx9GQvUm9pxVfppQAq-9UlVcTaW18-NyqR9ZiQqPwRsJfZnfCd_KYvJ-wqH45yMmKSOBgaNVRpMdss6D6HXnp7kiUdvyap61ClLe_UxZCj--OPJ9jOalexX5HznXgfIfpaRKraVFTi6ll-46sKiDAdwXOeY-iCLlA8FVnPNkjGo4IVk05xhYmhUVtGagSDMIz4adF4LxVO29_iSQfCGHl1eErHd_7KhBs9SomNH7HHHPsRDnIjuYGPmkfjBXoTErFiJM0dmcjXrclmDSc9IppqAxH1Lfj7Eje3D1lEYsQPyWFMtxHNV20VJydeY1NsRqzB8hHh6xvfoZGcHboE9DTV9iQRMoGdoC8DbTDT-RbQLMp8b7UbtP_3AhTwcY87GGJMjtSUuXgsD_1J5Eq9MC6iXsG5QdAwjfzv7G_5bL1zceCm5YfuN9ABzTGsz5jJOwxyedUACNlnMh21ZMbQ-o3tVlSIDoFvezPnp_wuXJYg1FESk=w160-h50-no?authuser=0" alt="Avatar" width='90' class="d-inline-block align-text-top">
            Portfolio
          </a>
        </div>
    </nav>
    <br>
    <div class='container'>
        {% block content %}

        {% endblock %}
    <br><br><br>
    <footer class="page-footer font-small blue">
      <hr>
      <div class='container'>
        <div class="row">
          <div class="col-4">
            <p class='text-center'><a href="https://t.me/mixeed22">Telegram</a></p>
          </div>
          <div class="col-4">
            <p class='text-center'><a href="https://www.linkedin.com/in/eduard-hryshchenko/">LinkedIn</a></p>
          </div>
          <div class="col-4">
            <p class='text-center'><a href="mailto:ua.capitan@gmail.com">Gmail</a></p>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3">© 2021 Copyright: EdMix
      </div>
    
    </footer>
  </div>
</body>
</html>