<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="https://previews.dropbox.com/p/thumb/ABQITmcE7rFw_I7t3Lm8NkahMV9BlbYyIS9KVJDeFhzmDwl9Kw5LTe5dmEK8P2B2F7x4FoUG3hVFMCeNj_eiieOoUIT_plCOj2eyE4Afn_52Gjiv5cTgIAF0LhFKxkL8rlU6ZM2hJrVMedRiatHvL4rovcVpx1dBR3nn_ry3yqf2cSTPq5xCAYmRK0dRDWwGUDisToE00IbLlUkgaa32wg_kOZU61G9HHJ1izcK6jX1cWJtvFPAunfP3vHeIDZDvYE4Pcaecne44prqLqJp8B7xZXdHi7w6LdHjnAYU7u2kgOWhXtHvhIyhufD9-ynEigXwPTRr2I0OeZ3-PF-0zBTmur94usoQDBU5XnXz6l-31bQ/p.png?fv_content=true&size_mode=5" alt="Avatar" width='90' class="d-inline-block align-text-top">
            Portfolio
          </a>
        </div>
    </nav>
    <br>
    <div class='container'>
        {% block content %}

        {% endblock %}
    <br><br><br>
    <footer class="page-footer font-small blue">
      <hr>
      <div class='container'>
        <div class="row">
          <div class="col-4">
            <p class='text-center'><a href="https://t.me/mixeed22">Telegram</a></p>
          </div>
          <div class="col-4">
            <p class='text-center'><a href="https://www.linkedin.com/in/eduard-hryshchenko/">LinkedIn</a></p>
          </div>
          <div class="col-4">
            <p class='text-center'><a href="mailto:ua.capitan@gmail.com">Gmail</a></p>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3">© 2021 Copyright: EdMix
      </div>
    
    </footer>
  </div>
</body>
</html>