{% extends 'base.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
    <h3>Main page</h3>
    <div class="container">
        <div class="row">
            {% for a in articles %}
                <div class="card" style="width: 31%; margin-left: 2%; height: 25rem; margin-top: 3vh;">
                    <img src="{{ a.img_1 }}" class="card-img-top" alt="Card image">
                    <div class="card-body">
                    <h5 class="card-title">{{ a.title }}</h5>
                    <p class="card-text">{{ a.tech }}</p>
                    <a href="/article/{{ a.id }}" class="btn btn-primary">Open</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}